<h1>Create Comic</h1>
<form method="post">
    <label class="form-label">Comic Nombre: </label>
    <input type="text" class="form-control" name="Nombre" />
    <label class="form-label">Comic Imagen: </label>
    <input type="text" class="form-control" name="Imagen" />
    <label class="form-label">Comic Descripcion: </label>
    <input type="text" class="form-control" name="Descripcion" />
    <button type="submit" class="btn btn-primary">Crear</button>
</form>